{% set entries = query
    .with([
        'locations',
        'films',
        ['films.cast', {limit: 2}]
    ])
.collect %}

<div class="space-y-8">
    {% for date, entriesForDate in entries|group(entry => entry.screeningDate|date('long')) %}
        <div class="border-t border-primary dark:border-gray-300 pt-4">
            <h2 class="text-2xl font-bold  mb-2">
                {{ date }}
            </h2>
            <div class="space-y-8">
                {% for entry in entriesForDate %}
                    <div>
                        <div class="text-xl font-bold">
                            {{ entry.screeningTime|time('short') }}
                            {% for location in entry.locations.all %}
                                {{ location.link }}{{ not loop.last ? ', ' }}
                            {% endfor %}
                        </div>
                        <div>
                            {% for film in entry.films.all %}
                                <div  class="text-xl font-semibold mt-2">
                                    {{ film.link }}{{ not loop.last ? ', ' }}
                                </div>
                                <div>
                                    {% for person in film.cast.all %}
                                        {{ person.lastName }}{{ not loop.last ? ', ' }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
    
