{% set scope = scope ?? '*' %}

{% set films = entry.films.all %}
{% set locations = entry.locations.all %}

{% if films and locations %}
    <div class="mb-4 mr-4 p-8 rounded shadow-xl {{ entry.screeningDate|date_modify('-1 day') > now ? 'bg-primary' : 'bg-gray-600' }} text-white space-y-4">
        <div class="font-semibold flex">
            <div>
                {{ entry.screeningDate|date('short') }} {{ entry.screeningTime|time('short') }}
            </div>
            {% if craft.app.plugins.pluginEnabled('favorites') %}
                <div class="ml-2">
                    {% include '@favorites/_favorite.twig' with {
                        entry
                    } only %}
                </div>
            {% endif %}
        </div>
        {% if scope != 'film' %}
            <div>
                {% for film in films %}
                    <div class="text-lg underline uppercase">
                        {{ film.link }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if scope != 'location' %}
            <div>
                {% for location in locations %}
                    {{ location.link }}
                {% endfor %}
            </div>
        {% endif %}

        {% if entry.remarks %}
            <div>
                {{ entry.remarks }}
            </div>
        {% endif %}

        {% if entry.ticketLink %}
            <div>
                <a class="underline" href="{{ entry.ticketLink }}">{{ 'Tickets'|t('ff-light') }}</a>
            </div>
        {% endif %}


    </div>
{% endif %}