{% from '_layouts/macros/lib.twig' import img %}


{% set image = null %}

{% if settings.enableFilmPoster %}
    {% set image = entry.filmPoster.one() %}
{% endif %}

<div class="flex space-x-8">
    {% if image %}
        <div>
            {{ img(image, {
                transform: {width: 175, height: 225, format: 'webp'},
                attr: {
                    class: 'rounded shadow-xl'
                }
            }) }}
        </div>
    {% endif %}
    <div class="font-semibold text-xl space-y-2">

        {% if settings.enableGenres %}
            {% set genres = entry.genres.collect %}
            {% if genres %}
                <div>
                    {% for genre in genres %}
                        {{ genre.link }}{{ not loop.last ? ', ' }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% if settings.enableCountries %}
            {% set countries = entry.countries.collect %}
            {% if countries %}
                <div>
                    {% for country in countries %}
                        {{ country.link }}{{ not loop.last ? ', ' }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% if entry.releaseYear %}
            <div>
                {{ entry.releaseYear }}
            </div>
        {% endif %}

        {% if entry.runtime %}
            <div>
                {{ "Runtime"|t('ff-light') }} {{ entry.runtime}} {{ "minutes"|t('ff-light') }}
            </div>
        {% endif %}
        
        {% if entry.fsk %}
            <div>
                {{ "Approved for"|t('ff-light') }} {{ entry.fsk }} {{ "years"|t('ff-light') }}
            </div>
        {% endif %}

        {% if settings.enableLanguages %}
            {% set languages = entry.languages.collect %}
            {% if languages.count() %}
                <div>
                    {{ "Language"|t('ff-light') }}:
                    {% for language in languages %}
                        {{ language.link }}{{ not loop.last ? ', ' -}}
                    {% endfor -%}
                    
                    {% if settings.enableSubtitleLanguages -%}
                        {% set subtitleLanguages = entry.subtitleLanguages.collect %}
                        {%- if subtitleLanguages.count() -%}
                            , {{ 'subtitles in'|t('ff-light') }}
                            {% for subtitleLanguage in subtitleLanguages %}
                                {{ subtitleLanguage.link }}{{ not loop.last ? ', ' }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    
                </div>
            {% endif %}
        {% endif %}

    </div>
</div>

