{% set screeningDate = screeningDate ?? '' %}
{% set screeningTime = screeningTime ?? '' %}
{% set locationId = locationId ?? '' %}
{% set sectionId = sectionId ?? '' %}

{# TODO: Find pure db query solution #}
{% set screeningDates = craft.entries
    .section('screening')
    .orderBy('screeningDate')
    .unique()
    .all()
%}

{% set dates = [] %}

{% for screeningDate in screeningDates %}
	{% set date = screeningDate.screeningDate|date('Y-m-d') %}
    {% if date not in dates %}
        {% set dates = dates|push(date) %}
    {% endif %}
{% endfor %}


{# TODO: Translation #}
{% set timeLUT = {
    morning: {label: 'vor 13:30', criteria: '< 13:30'},
    earlyAfternoon: {label: '13:30-16:30', criteria: ['and', '>= 13:30', '<= 16:30']},
    lateAfternoon: {label: '16:30-19:30', criteria: ['and', '>= 16:30', '<= 19:30']},
    evening: {label: 'nach 19:30', criteria: '> 19:30'},
} %}

<form>
    <div class="flex space-x-4">
        <div>
            <select data-sprig name="screeningDate">
                <option value="" {{ screeningDate == '' ? 'selected' }}>{{ 'All days'|t('ff-light') }}</option>
                {% for date in dates %}
                    <option value="{{ date }}" {{ date == screeningDate ? 'selected' }} >{{ date|date('short') }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <select data-sprig name="screeningTime">
                <option value="" {{ screeningTime == '' ? 'selected' }}>{{ 'All times'|t('ff-light') }}</option>
                {% for key, time in timeLUT %}
                    <option value="{{ key }}" {{ key == screeningTime ? 'selected' }}>{{ time.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <select data-sprig name="locationId">
                <option value="" {{ not locationId ? 'selected' }}>{{ 'All locations'|t('ff-light') }}</option>
                {% for location in craft.entries.section('location').orderBy('title').all %}
                    <option value="{{ location.id }}" {{ locationId == location.id ? 'selected' }}>{{ location.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <select data-sprig name="sectionId">
                <option value="" {{ not sectionId ? 'selected' }}>{{ 'All sections'|t('ff-light') }}</option>
                {% for section in craft.entries.section(['filmSection','competition']).orderBy('title').all %}
                    <option value="{{ section.id }}" {{ sectionId == section.id ? 'selected' }}>{{ section.title }}</option>
                {% endfor %}
            </select>
        </div>
        {% if resetUrl %}
            <div class="mt-2">
                <a class="bg-secondary text-white px-4 py-2" href="{{ resetUrl }}">{{ 'Reset'|t('ff-light') }}</a>
            </div>
        {% endif %}
    </div>
</form>

{% set query = craft.entries
    .section('screening')
    .orderBy('screeningDate, screeningTime')
%}

{% if screeningDate %}
    {% do query.screeningDate(screeningDate) %}
{% endif %}
{% if screeningTime %}
    {% do query.screeningTime(timeLUT[screeningTime].criteria) %}
{% endif %}
{% if locationId %}
    {% do query.andRelatedTo(locationId) %}
{% endif %}


{% if sectionId %}
    {% do query.andRelatedTo(
        craft.entries
            .section('film')
            .relatedTo(sectionId)
            .ids
    ) %}
{% endif %}

{{ sprig.pushUrl("?screeningDate=#{screeningDate}&screeningTime=#{screeningTime}&locationId=#{locationId}&sectionId=#{sectionId}") }}

<div class="mt-4">
    {% include '@ff/_partials/screenings.twig' with {
        query
    } only %}
</div>

