<div class="mt-8 font-semibold text-xl">
    {% set genres = entry.genres.collect %}
    {% set countries = entry.countries.collect %}
    
    
    {% for genre in genres %}
        {{ genre.link }}{{ not loop.last ? ', ' }}
    {% endfor %}
    
    
    {% for country in countries %}
        {{ country.link }}{{ not loop.last ? ', ' }}
    {% endfor %}

    {{ entry.releaseYear }}
    
</div>