{% from '_layouts/macros/lib.twig' import img %}
{% set image = entry.filmPoster.one() %}

<div class="flex space-x-8">
    {% if image %}
        <div>
            {{ img(image, {
                transform: {width: 150, height: 200, format: 'webp'}
            }) }}
        </div>
    {% endif %}
    <div class="font-semibold text-xl space-y-2">

        {% set genres = entry.genres.collect %}
        {% if genres %}
            <div>
                {% for genre in genres %}
                    {{ genre.link }}{{ not loop.last ? ', ' }}
                {% endfor %}
            </div>
        {% endif %}

        {% set countries = entry.countries.collect %}
        {% if countries %}
            <div>
                {% for country in countries %}
                    {{ country.link }}{{ not loop.last ? ', ' }}
                {% endfor %}
            </div>
        {% endif %}

        {% if entry.releaseYear %}
            <div>
                {{ entry.releaseYear }}
            </div>
        {% endif %}
        
        {% if entry.fsk %}
            <div>
                {{ "Approved for"|t('ff') }} {{ entry.fsk }} {{ "years"|t('ff') }}
            </div>
        {% endif %}

        {% set languages = entry.languages.collect %}
        {% if languages %}
            <div>
                {{ "Language"|t('ff') }}:
                {% for language in languages %}
                    {{ language.link }}{{ not loop.last ? ', ' -}}
                {% endfor -%}
                {% set subtitleLanguages = entry.subtitleLanguages.collect %}
                {%- if subtitleLanguages -%}
                    , {{ 'subtitles in'|t('ff') }}
                    {% for subtitleLanguage in subtitleLanguages %}
                        {{ subtitleLanguage.link }}{{ not loop.last ? ', ' }}
                    {% endfor %}
                {% endif %}
            </div>


        {% endif %}

    </div>
</div>

